.topics-section {
  background-color: white;
  padding: 1.5rem;
  border: 1px solid #d1e7dd;
  border-radius: 12px;
  flex: 2;
  min-width: 300px;
}

.topics-section h2 {
  background-color: white;
  padding: 1.5rem;
  border: 1px solid #d1e7dd;
  border-radius: 12px;
  flex: 2;
  min-width: 300px;
}